<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="title">Redigera #{bookBean.book.title}</ui:define>

            <ui:define name="content">
                <h:form class="form-horizontal" role="form" prependId="false">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="title">Title</label>
                        <div class="col-sm-9 col-md-6">
                            <h:inputText id="title" class="form-control" label="Titel" value="#{bookBean.book.title}" required="true" requiredMessage="Får ej vara tomt" />
                        </div>
                        <div class="col-sm-offset-3 col-md-4 col-md-offset-0">
                            <h:message for="title" style="color:red" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="author">Författare</label>
                        <div class="col-sm-9 col-md-6">
                            <h:inputText id="author" class="form-control" label="Författare" value="#{bookBean.book.author}" validatorMessage="Författare måste vara minst tre tecken">
                                <f:validateLength minimum="3"  />
                            </h:inputText>
                        </div>
                        <div class="col-sm-offset-3 col-md-4 col-md-offset-0">
                            <h:message for="author" style="color:red" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-md-2 control-label" for="description">Beskrivning</label>
                        <div class="col-sm-9 col-md-6">
                            <h:inputTextarea id="description" class="form-control" label="Beskrivning" value="#{bookBean.book.description}" rows="5" />
                        </div>
                        <div class="col-sm-offset-3 col-md-4 col-md-offset-0">
                            <h:message for="description" style="color:red" />
                        </div>
                    </div>

                    <div class="col-sm-offset-3 col-md-offset-2">
                        <h:commandButton class="btn btn-primary" type="submit" value="Spara" action="#{bookBean.save}" />
                        <h:button class="btn btn-info" value="Avbryt" outcome="viewBooks" />
                    </div>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
