<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="./template.xhtml">
            
            <ui:define name="title">Startsida</ui:define>

            <ui:define name="content">
                <p>Vanlig länk - <a href="faces/viewBooks.xhtml">länk</a></p>
                <p>h:link - <h:link outcome="viewBooks" value="länk 2" /></p>

                <h:form>
                    <p>h:commandLink - <h:commandLink action="viewBooks" value="länk 3" /></p>
                    <p>h:commandButton - <h:commandButton action="viewBooks" value="länk 4" /></p>
                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

