<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <h:head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <h:outputStylesheet name="css/bootstrap.min.css"/>
        <h:outputStylesheet name="css/libraryweb.css"/>
        <title><ui:insert name="title" /></title>
    </h:head>
    
    <h:body>
        
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h:link class="navbar-brand" outcome="index" value="LibraryWeb" />
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="#{view.viewId == '/index.xhtml' ? 'active' : ''}"><h:link outcome="index" value="Startsida" /></li>
                  <li class="#{view.viewId == '/viewBooks.xhtml' ? 'active' : ''}"><h:link outcome="viewBooks" value="Visa böcker" /></li>
                  <li class="#{view.viewId == '/contact.xhtml' ? 'active' : ''}"><h:link outcome="contact" value="Kontakt" /></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                      <input class="form-control" type="text" placeholder="Sök..." />
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>
          </div>
        </nav>
        
        <div id="content" class="container">
            <ui:insert name="content">Content</ui:insert>
        </div>
        
        <div id="bottom">
            <ui:insert name="bottom">Bottom</ui:insert>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <h:outputScript name="js/bootstrap.min.js" />
    </h:body>
    
</html>
