<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bookBean.book.title}</title>
    </h:head>
    <h:body>
        <ui:composition template="./template.xhtml">

            <ui:define name="title">#{bookBean.book.title}</ui:define>

            <ui:define name="content">
                <div class="row book-details">
                    <div class="col-md-7 col-md-push-5">
                        <h2>#{bookBean.book.title} <span class="text-muted">#{bookBean.book.author}</span></h2>
                        <p class="lead">#{bookBean.book.description}</p>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <h:graphicImage class="img-responsive center-block" alt="" library="images" name="#{bookBean.book.coverImage}" />
                    </div>
                </div>
                
                <h:form>
                    <h:commandButton class="btn btn-primary" action="editBook" value="Redigera">
                        <f:param name="id" value="#{bookBean.book.id}" />
                    </h:commandButton>
                    
                    <h:commandButton class="btn btn-danger" action="#{bookBean.delete}" value="Ta bort" onclick="return confirm('Är du säker på att du vill ta bort boken?')">
                        <f:param name="id" value="#{bookBean.book.id}" />
                    </h:commandButton>
                </h:form>

            </ui:define>

        </ui:composition>
    </h:body>
</html>

