<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="./template.xhtml">

            <ui:define name="title">Visa böcker</ui:define>

            <ui:define name="content">
                <div id="recommendations" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <ui:repeat value="#{bookService.recommendations}" var="recommendation">
                            <li data-target="#recommendations" data-slide-to="#{recommendation.number}" class="#{recommendation.active}"></li>
                        </ui:repeat>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <ui:repeat value="#{bookService.recommendations}" var="recommendation">
                            <div class="item #{recommendation.active}">
                                <h:graphicImage class="img-responsive center-block" library="images" name="#{recommendation.image}" />
                              <div class="container">
                                <div class="carousel-caption">
                                  <h3>#{recommendation.book.title} - #{recommendation.book.author}</h3>
                                  <p>#{recommendation.book.description}</p>
                                  <p><h:link class="btn btn-primary" outcome="viewBook">
                                    <f:param name="id" value="#{recommendation.book.id}" />Läs mer &raquo;
                                  </h:link></p>
                                </div>
                              </div>
                            </div>
                        </ui:repeat>
                    </div>
                    
                    <a class="left carousel-control" href="#recommendations" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#recommendations" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="book-list">
                    <ui:repeat value="#{bookService.list}" var="book">
                        <div class="media">
                            <div class="media-left">
                                <h:link outcome="viewBook">
                                    <f:param name="id" value="#{book.id}" />
                                    <h:graphicImage class="media-object" alt="" library="images" name="#{book.coverThumbnail}" />
                                </h:link>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">#{book.title}</h4>
                                <p>#{book.author}</p>
                            </div>
                        </div>
                    </ui:repeat>
                </div>
                
                <h:button class="btn btn-primary" value="Lägg till bok" outcome="editBook" />
            </ui:define>

        </ui:composition>
    </h:body>
</html>

